#!/usr/bin/make -f

export DH_VERBOSE=1

SHELL := sh -e

PROJECTS := $(filter-out debian Makefile tools pool, $(wildcard *))
SERVERS := $(shell cat debian/servers)

# Override upstream's pbr based packaging
export PBR_VERSION=$(BUILD_NUMBER)
export SKIP_PIP_INSTALL=1
export SKIP_GIT_SDIST=1
export SKIP_GENERATE_AUTHORS=1
export SKIP_WRITE_GIT_CHANGELOG=1

export DIST=$(shell dpkg-parsechangelog  | grep ^Distribution: | cut -d ' ' -f2)
export VERSION=$(BUILD_NUMBER)


%:
	dh $@ --with python2

override_dh_auto_clean: debian/control $(patsubst %,clean/%,$(PROJECTS))

override_dh_auto_build: debian/control $(patsubst %,build/%,$(PROJECTS))

override_dh_auto_install: debian/control $(patsubst %,debian/%.upstart,$(SERVERS)) $(patsubst %,install/%,$(PROJECTS)) debian/overcast-monolith.substvars

override_dh_builddeb: pool
	dh_builddeb --destdir=$(PWD)/pool

pool:
	test -d pool || mkdir pool 

debian/%.upstart: debian/upstart.tmpl
	daemon=$*; \
	basename=$${daemon%-*}; \
	sed -e "s,%BASENAME%,$$basename,g" \
	    -e "s,%DAEMON%,$$daemon,g" $< > $@

clean/%: %/debian
	cd $* && dh_auto_clean

build/%: %/debian
	cd $* && dh_auto_build

install/%: %/debian
	cd $* && dh_auto_install

# Special cases
install/horizon: horizon/debian
	cd horizon && COMPILE=--install-layout=deb dh_auto_install

%/debian:
	ln -s ../debian $@

debian/overcast-monolith.substvars:
	python -c 'import sys;print "overcast:supersededpackages="+", ".join(sys.argv[1:])' $$(cat debian/superseded-packages) >> debian/overcast-monolith.substvars

debian/control: debian/control.stub $(patsubst %,debian/%.control,$(SERVERS) $(shell cat debian/superseded-packages))
	cat $^ > $@

debian/%.control: debian/control.tmpl
	sed -e s@PKGNAME@$*@g < $< > $@

debian/manifest:
	mv -f debian/manifest debian/manifest.old || touch debian/manifest.old
	repo forall -c 'echo -n "$${REPO_PROJECT} " ; git rev-parse HEAD' > $@

debian/chlog:
	# Populate changelog here as clean target will be run.
	dch --newversion $(VERSION) "Automated build"
	dch -D $(DIST) -r ""

.PHONY: debian/control debian/overcast-monolit.substvars debian/chlog debian/manifest
