#!/usr/bin/make -f

export DH_VERBOSE=1

SHELL := sh -e

PROJECTS := $(filter-out debian Makefile tools pool, $(wildcard *))
SERVERS := $(shell cat debian/servers)

# Override upstream's pbr based packaging
export PBR_VERSION=$(shell dpkg-parsechangelog  | grep ^Version: | cut -d ' ' -f2)
export SKIP_PIP_INSTALL=1
export SKIP_GIT_SDIST=1
export SKIP_GENERATE_AUTHORS=1
export SKIP_WRITE_GIT_CHANGELOG=1

export DIST=$(shell dpkg-parsechangelog  | grep ^Distribution: | cut -d ' ' -f2)


%:
	dh $@ --with python2

override_dh_auto_clean: debian/control $(patsubst %,clean/%,$(PROJECTS))

override_dh_auto_build: debian/control $(patsubst %,build/%,$(PROJECTS))

override_dh_auto_install: debian/control $(patsubst %,debian/%.upstart,$(SERVERS)) $(patsubst %,install/%,$(PROJECTS))

debian/%.upstart: debian/upstart.tmpl
	daemon=$*; \
	basename=$${daemon%-*}; \
	sed -e "s,%BASENAME%,$$basename,g" \
	    -e "s,%DAEMON%,$$daemon,g" $< > $@

ifdef DEBDESTDIR
override_dh_builddeb:
	dh_builddeb --destdir=$(DEBDESTDIR)
endif

clean/%: debian/chlog
	dh_auto_clean --sourcedirectory=$*

build/%:
	dh_auto_build --sourcedirectory=$*

install/%:
	dh_auto_install --sourcedirectory=$*

# Special cases
build/websockify:
	$(MAKE) -C websockify -f Makefile. rebind.so
	dh_auto_build --sourcedirectory=websockify

install/horizon:
	COMPILE=--install-layout=deb dh_auto_install --sourcedirectory=horizon

override_dh_install:
	$(MAKE) -f debian/rules debian/superseded-packages
	$(MAKE) -f debian/rules debian/control debian/overcast-python-monolith.substvars
	dh_install

debian/overcast-python-monolith.substvars:
	python -c 'import sys;print "overcast:supersededpackages="+", ".join(sys.argv[1:])' $$(cat debian/superseded-packages) >> debian/overcast-python-monolith.substvars

debian/superseded-packages: debian/superseded-packages.manual
	cat $< > $@
	find debian/tmp/ -name PKG-INFO -o -type f -name '*.egg-info' | xargs cat | grep ^Name:' ' | cut -f2- -d' ' | while read name; \
	do \
		if echo $$name | grep -q ^python-; \
		then \
			echo $$name | tr 'A-Z_' 'a-z-' >> $@; \
		else \
			echo python-$$name | tr 'A-Z_' 'a-z-' >> $@; \
		fi; \
	done

debian/control: debian/control.stub $(patsubst %,debian/%.control,$(SERVERS) $(shell cat debian/superseded-packages))
	cat $^ > $@

debian/%.control: debian/control.tmpl
	sed -e s@PKGNAME@$*@g < $< > $@

debian/manifest:
	mv -f debian/manifest debian/manifest.old || touch debian/manifest.old
	repo forall -c 'echo -n "$${REPO_PROJECT} " ; git rev-parse HEAD' > $@

debian/chlog:
	# Populate changelog here as clean target will be run.
	if [ -n "$(BUILD_NUMBER)" ]; \
	then \
		dch --newversion $(BUILD_NUMBER) "Automated build"; \
		dch -D $(DIST) -r ""; \
	fi

.PHONY: debian/control debian/overcast-python-monolith.substvars debian/chlog debian/manifest debian/superseded-packages
